.khaki {
    color: khaki;
}

.all-content {
    float: left;
    margin: 0;
    width: 50%;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    margin: 1px black solid;
}

#break {
    border-bottom: 4px khaki solid;
    width: 150px;
    margin-top: 7px;
}

#about-btn {
    background-color: khaki;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 15px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
}

#about-btn:hover{
    animation-name: buttonhover;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes buttonhover {
    from {margin-left: 0px;}
    to {margin-left: 10px;}
}

@keyframes dropdown {
    from {margin-top: 5px;}
    to {margin-top: 0px;};
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.all-content {
    background-color: whitesmoke;
    padding-bottom: 20px;
    width: 100%;
}

#banner{
    height: 800px;
}

.text {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.all-content h4{
    font-size: 20px;
    margin-top: 200px;
    margin-bottom: 40px;
}

.all-content h3{
    font-size: 40px;
}

.all-content p {
    margin-top: 8px;
    text-align: justify;
    line-height: 1.5;
}

.dropbutton {
    padding: 20px;
    font-size: 20px;
    animation-name: dropdown;
    animation-duration: 2s;
    animation-iteration-count: infinite
}

#dropdown-div{
    margin-top: 210px;
    width: 10%;
    margin-right: auto;
    margin-left: auto;
}

#menu-buttons{
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px grey solid;
    background-color: whitesmoke;
    z-index: 10;
    padding-bottom: 5px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#menu-buttons a {
    float: left;
    width: 33%;
    float: left;
    width: 33%;
    background-color: khaki;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    margin-bottom: 0px;
    text-align: center;
    text-decoration: none;
    color: black;
}

@keyframes colorchange {
    from {background-color: khaki;}
    to {background-color: #BDB76B;}
}

@keyframes underline {
    from {border-bottom: none;}
    to {border-bottom: 2px darkkhaki solid};
}

#menu-buttons a:hover {
    animation-name: colorchange;
    animation-duration: 1s;
}

#about-me{
    padding-top: 65px;
}

#about-me h3 {
    margin-bottom: 20px;
    text-align: center;
}

.about-text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#about-me a {
    float: left;
    padding-left: 30px;
    margin-top: 20px;
    color: darkkhaki;
    text-decoration: none;
}

#about-img{
    float: left;
    width: 40%;
    margin: 15px;
    max-width: 300px;
}

#portfolio{
    padding-top: 65px;
}

#portfolio h3 {
    margin-bottom: 20px;
    text-align: center;
}

.portfolio-item {
    text-align: center;
    display: block;
    clear: both;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#speedtrapp {
    background-image: url("images/speedtrapp\ shot.png");
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

#asthmate {
    background-image: url("images/asthmate-src.png");
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

#transliteration {
    background-image: url("images/translit-src.png");
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.portfolio-item h5 {
    font-size: 25px;
    margin-bottom: 20px;
}

.portfolio-item h5:hover {
    text-decoration: underline;
    text-decoration-color: khaki;
}

.portfolio-item p {
    margin-bottom: 30px;
    margin-top: 15px;
}

.go {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: khaki;
    color: black;
    text-decoration: none;
    text-align: center;
}

.go:hover {
    animation: colorchange;
    animation-duration: 2s;
}

#contact{
    padding-top: 65px;
    height: 350px;
}

#contact h3{
    margin-bottom: 20px;
    text-align: center;
}

#contact p, #contact a {
    margin-bottom: 5px
}

#contact h5 {
    font-size: 18px;
}

.web-link {
    margin-top: 8px;
    text-align: justify;
    line-height: 1.5;
    color: darkkhaki;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 5px;
    line-height: 1.5;
}

#huh {
    margin-bottom: 15px;
    margin-top: 15px;
}

#footer {
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: whitesmoke;
    border-top: 1px lightgrey solid;
    color: black;
}
